/* Default ZSSRichTextEditor Styling */
* {
    outline: 0px solid transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

img.zs_active {
    border: 2px dashed #000;
}

img {
    width: 98%;
    margin-left:auto;
    margin-right:auto;
}

audio {
    padding: 20px 0;
}

div.zs_editor_content {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow:auto;
}

[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}

[placeholder]:empty:focus:before {
    content: "";
}